body{
    background-color: #cfc4b9;
}
h1 {
    color: #025157;
    font-family: "Pangolin", cursive;
    font-size: 3rem;
    text-align: center;
  }
  p{
      font-family: Verdana;
      font-size: 1.25rem;
      text-align: center;
  }
  button{
      color: #fff;
      background-color: #025157;
  }
  form{
    width: 40%;
    margin: auto;
    }

.main {
    margin-top: 8.75rem; /* 140px */
    text-align: center;
    }

header {
        margin: 2.5rem 1.25rem 0; /* 40px 20px */
        font-size: 0;
        font-family: sans-serif;
        height: 2.8125 rem ;  /* 45px */
      }

header > *{
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.menu-items > li {
        display: inline;
        margin-right: 25px;
        margin-left: 25px;
      }

.logo {
width: 15%;
}

.logo > img {
    width: 15%;
  }

  .navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
  }
  
  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  }

  .actions a{
    color: #67b54b;
  }

  .actions button{
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
  }

  input, button {
    max-width: 250px;
    height: 100%;
}

form{
  display: inline;
}

.insert, .submit {
  font-size: 0.9 rem;
  padding: 1em 5em;
  border: 2px solid  #8b8b8bcc;
}

.insert{
  border-radius: 5px 0 0 5px;
}

.submit{
  border-radius: 0 5px 5px 0;
  margin-left: -8px;
}

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.logo{
    max-width: 40%;
  }
  img.graph{
    max-width: 60%;
  }