body{
    background-color: #fffbf7;
}
h1 {
    color: #025157;
    font-family: "Pangolin", cursive;
    font-size: 3rem;
    text-align: center;
  }
h2 {
  color: #025157;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
}
  p{
      font-family: Verdana;
      font-size: 1.25rem;
  }
  button{
      color: #fff;
      background-color: #025157;
  }
  form{
    max-width: fit-content;
    margin: auto;
    display: flex;
    }

.main {
    margin-top: 8rem; /* 285px */
    text-align: center;
    }

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

header {
        margin: 2.5rem 1.25rem 0; /* 40px 20px */
        font-size: 0;
        font-family: sans-serif;
        height: 2.8125rem ;  /* 45px */
      }

header > *{
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    height: 100%;
    line-height: 2.8125rem;
}

.menu-items > li {
        display: inline;
        margin-right: 25px;
        margin-left: 25px;
      }

.logo {
width: 15%;
}

.logo > img {
    width: 15%;
  }

  .navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
  }
  
  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  }

  .actions a{
    color: #67b54b;
  }

  .actions button{
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
  }

.insert, .submit {
  padding: 1rem 1.2rem;
  height:max-content;
  width: max-content;
  border: 2px solid  #8b8b8bcc;
}

.insert{
  border-radius: 5px 0 0 5px;
}

.submit{
  white-space: nowrap;
  border-radius: 0 5px 5px 0;
  margin-left: -0.5em;
}

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.logo{
    max-width: 40%;
  }
  img.graph{
    max-width: 60%;
  }

  .adds{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

.publish{
  margin-left: 1.5rem;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 7.5rem;
  margin-top: 0.2em;
}